doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, inital-scale=1')
    meta(name='description' content='')
    title 방문앞이야
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

    script.
      $(document).ready(function(){
        $('#login button').click(function () {
          if ($('#nick').val()) {
            $('#login').submit();
          } else {
            $('#nick').attr('placeholder', '누구인지 묻질 않느냐?');
          }
          return false;
        });
      });
  body.bg_login
    div.container
      form#login.form-signin(action='/room' method='post')
        h2.form-signin-heading
          |드루와 드루와
        span#error(style='display:none;')
          |누구인지 묻질 않느냐?
        input#nick.input-lg.form-control(type='text' name='nickname' placeholder='누구인가?' autocomplete='off' required autofocus)
        input#roomId(type='hidden' name='roomId' value='1818')
        p
        button.btn-lg.btn-block(type='button') 들어가기
      div.anytext
        h4
          | 아무 말 하기 딱 좋은 날씨네,
